/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */
:root {
    --h1-font-color: rgb(252, 212, 120); 
    --h2-font-color: aqua;
    --h3-font-color: aquamarine;
     --a-font-color: antiquewhite;
}



body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(6, 0, 66);
}

/* Desktops */
@media (min-width: 768px) {
    body { padding: 4% 20%}
}

/* Mobiles */
@media (max-width: 767px) {
    body { padding: 8% 5%}
}

h1 {
    font-size: 86px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
    color: var(--h1-font-color);
    animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    text-shadow: 0 0 10px rgb(255, 142, 72);
}

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
    color: var(--h2-font-color);
    animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    text-shadow: 0 0 10px  rgb(72, 167, 255);
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--h3-font-color);
    animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
    animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

a {color: var(--a-font-color);    
}

p :hover {
    color: rgb(255, 142, 72);     
}

img {border-radius: 50%;
    /*animation: float 3s infinite ease-in-out;*/
    animation: rotate 15s infinite ease-in-out;   
}

@keyframes float {
    50% {
        transform: translateY(-5%);
    }
}

@keyframes rotate {
    50% {transform:  rotateY(360deg);} 
  }

.slide-in-right {
	animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
@keyframes slide-in-right {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-left {
	animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
@keyframes slide-in-left {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

 